boto==2.49.0
boto3==1.7.84
botocore==1.10.84
bz2file==0.98
certifi==2018.8.24
chardet==3.0.4
Cython==0.28.5
docutils==0.14
dyNET==2.1
gensim==3.5.0
idna==2.7
jmespath==0.9.3
numpy==1.15.1
progress==1.4
python-dateutil==2.7.3
requests==2.19.1
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
smart-open==1.7.0
urllib3==1.23
